<main class = "color">
    <div class="home-wrapper">
        {{shows.band_name}}
        {{shows.load_in}}
        {{shows.soundcheck}}
        {{shows.extra_deets}}
        <img src="{{shows.stage_plot}}" alt="">
        <img src="{{shows.input_list}}" alt="">
    </div>
</main>
    <script src="/javascript/single.js"></script>
